.reveal section p {
  text-align: left;
  text-margin: 0.2;
  margin-left: 0.2;
  margin-right: 0.2;
}

.reveal section pre code {
  font-size: 1.4em;
  line-height: 1.1;
  max-height: 90vh;
}

.toc-list, .toc-list ol {
  list-style-type: none;
}

.toc-list {
  padding: 0;
}

.toc-list ol {
  padding-inline-start: 2ch;
}
